{% extends 'layout.html' %}

{% block content %}
<div class="row">
  <div class="column16">
    <h3> {{ date_converter(results.currently.time }}</h3>
  </div>
  <div class="column4">
    <h4>Current</h4>
    <p>{{ results.currently.summary}}</p>
  </div>
  <div class="column4">
    <h4>Soon</h4>
    <p>{{ results.minutely.summary}}</p>
  </div>
  <div class="column4">
    <h4>Later</h4>
    <p>{{ results.hourly.summary}}</p>
    {% for d in results.hourly.data %}
      {{ time_converter(d.time) }} <br /> {{ d.summary }}<br /><br />
    {% endfor %}
  </div>
  <div class="column4">
    <h4>This week</h4>
    <p>{{ results.daily.summary}}</p>
    {% for d in results.daily.data %}
    {{ date_converter(d.time) }} <br /> {{ d.summary }}<br /><br />
    {% endfor %}
  </div>
</div>
 <div class="row">
    <div class="column16">
      <pre>
        {{ fullResults }}
      </pre>

    </div>

 </div>
{% endblock %}
